<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>tuanduong144@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>lwjfoikejpwxpimv</param-value>
    </context-param>
    <!-- filter-->
    <filter>
        <filter-name>UserAuthorization</filter-name>
        <filter-class>filter.UserAuthorization</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SystemPermissionsController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>WebContactDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>WebContactListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>DashboardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SubjectDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SubjectListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SettingDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SettingListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>UserDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>UserListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>UserProfileController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>EvalCriteriaListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>MilestoneDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>MilestoneListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ClassSettingListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ClassSettingDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>AssignmentDetail</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>AssignmentList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SubjectSettingDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>SubjectSettingListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>EvalCriteriaDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>EvalCriteriaListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ClassDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ClassListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ScheduleListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ScheduleDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>AttendanceTrackingController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>AttendanceDetailsController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>ScheduleAttendanceController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>TraineeListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>TraineeDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>TraineeImportController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>TeamListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <servlet-name>TeamDetailController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.admin.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.admin.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeController</servlet-name>
        <servlet-class>controller.PasswordChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReset</servlet-name>
        <servlet-class>controller.PasswordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingController</servlet-name>
        <servlet-class>controller.EmailSendingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLinkInfor</servlet-name>
        <servlet-class>controller.GetLinkInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogouController</servlet-name>
        <servlet-class>controller.LogouController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>controller.admin.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailController</servlet-name>
        <servlet-class>controller.admin.SubjectDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebContactListController</servlet-name>
        <servlet-class>controller.WebContactListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebContactDetailController</servlet-name>
        <servlet-class>controller.WebContactDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FooterController</servlet-name>
        <servlet-class>controller.FooterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSettingListController</servlet-name>
        <servlet-class>controller.SubjectSettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSettingDetailController</servlet-name>
        <servlet-class>controller.SubjectSettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemPermissionsController</servlet-name>
        <servlet-class>controller.admin.SystemPermissionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassSettingListController</servlet-name>
        <servlet-class>controller.admin.ClassSettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvalCriteriaList</servlet-name>
        <servlet-class>controller.admin.EvalCriteriaListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneListController</servlet-name>
        <servlet-class>controller.admin.MilestoneListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneDetailController</servlet-name>
        <servlet-class>controller.admin.MilestoneDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentList</servlet-name>
        <servlet-class>controller.admin.AssignmentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentDetails</servlet-name>
        <servlet-class>controller.admin.AssignmentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvalCriteriaDetailController</servlet-name>
        <servlet-class>controller.admin.EvalCriteriaDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListController</servlet-name>
        <servlet-class>controller.ClassListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailController</servlet-name>
        <servlet-class>controller.ClassDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedController</servlet-name>
        <servlet-class>controller.AccessDeniedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceDetailsController</servlet-name>
        <servlet-class>controller.AttendanceDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassEvalList</servlet-name>
        <servlet-class>controller.trainer.ClassEvalList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamListController</servlet-name>
        <servlet-class>controller.TeamListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDetailController</servlet-name>
        <servlet-class>controller.TeamDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassEvalList</servlet-name>
        <url-pattern>/manage/classevalcriteria/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailClassEval</servlet-name>
        <servlet-class>controller.trainer.DetailClassEval</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailClassEval</servlet-name>
        <url-pattern>/manage/classevalcriteria/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEval</servlet-name>
        <servlet-class>controller.trainer.AddEval</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEval</servlet-name>
        <url-pattern>/manage/AddEval</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleListController</servlet-name>
        <servlet-class>controller.ScheduleListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDetailController</servlet-name>
        <servlet-class>controller.ScheduleDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceTrackingController</servlet-name>
        <servlet-class>controller.AttendanceTrackingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleAttendanceController</servlet-name>
        <servlet-class>controller.ScheduleAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeListController</servlet-name>
        <servlet-class>controller.TraineeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeDetailController</servlet-name>
        <servlet-class>controller.TraineeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeImportController</servlet-name>
        <servlet-class>controller.TraineeImportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/manage/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/manage/user/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/manage/setting/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/manage/setting/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReset</servlet-name>
        <url-pattern>/PasswordReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingController</servlet-name>
        <url-pattern>/EmailSendingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLinkInfor</servlet-name>
        <url-pattern>/getlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogouController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/manage/subject/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailController</servlet-name>
        <url-pattern>/manage/subject/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/manage/dashboard/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebContactListController</servlet-name>
        <url-pattern>/contact/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebContactDetailController</servlet-name>
        <url-pattern>/contact/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FooterController</servlet-name>
        <url-pattern>/sentcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemPermissionsController</servlet-name>
        <url-pattern>/manage/system/permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassSettingListController</servlet-name>
        <url-pattern>/manage/classsetting/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvalCriteriaList</servlet-name>
        <url-pattern>/manage/evalcriteria/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneListController</servlet-name>
        <url-pattern>/manage/milestone/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneDetailController</servlet-name>
        <url-pattern>/manage/milestone/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentList</servlet-name>
        <url-pattern>/manage/assignment/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentDetails</servlet-name>
        <url-pattern>/manage/assignment/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSettingListController</servlet-name>
        <url-pattern>/subjectsettinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSettingDetailController</servlet-name>
        <url-pattern>/subjectsettingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvalCriteriaDetailController</servlet-name>
        <url-pattern>/manage/evalcriteria/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListController</servlet-name>
        <url-pattern>/class/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailController</servlet-name>
        <url-pattern>/class/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedController</servlet-name>
        <url-pattern>/AccessDenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceDetailsController</servlet-name>
        <url-pattern>/attendancedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleListController</servlet-name>
        <url-pattern>/schedulelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDetailController</servlet-name>
        <url-pattern>/scheduledetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceTrackingController</servlet-name>
        <url-pattern>/attendancetracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleAttendanceController</servlet-name>
        <url-pattern>/scheduleattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeListController</servlet-name>
        <url-pattern>/manage/trainee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeDetailController</servlet-name>
        <url-pattern>/manage/trainee/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeImportController</servlet-name>
        <url-pattern>/manage/trainee/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamListController</servlet-name>
        <url-pattern>/team/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDetailController</servlet-name>
        <url-pattern>/team/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
